@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
}
.founders-font {
  font-family: "Founders Grotesk", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3158ee;
}

::-webkit-scrollbar-thumb {
  background: #3158ee;
  cursor: grab;
}
